* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.join-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-container {
  height: 50vh;
  width: 50vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join-container > img {
  width: 25vh;
  margin-top: 5vh;
  border-radius: 10px;
}

#join-input {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 1vmax;
}

.join-btn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.join-btn:hover {
  background-color: rgb(216, 25, 25);
  transition: 0.3s;
}
