.message-box {
  width: 50%;
  padding: 1vmax;
  margin: 1.8vmax;
  background-color: gainsboro;
  display: inline-block;
  
}

.right {
  background-color: crimson;
  float: right;
  color: white;
  border-radius: 10px 0px 10px 10px;
  padding: 5px;
}
.left {
  background-color: #3fd8bc;
  float: left;
  color: white;
  border-radius: 0px 10px 10px 10px;
  padding: 5px;
}
