@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 700px) {
  .chat-container {
    height: 100% !important;
    width: 100% !important;
    background-color: white;
  }
  .header {
    height: 10% !important;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .header > h2 {
    margin: 8vw !important;
  }
  .header > a > i {
    margin: 8vw !important;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
    color: white;
  }
  .header > a > i:hover {
    transform: scale(1.5) !important;
  }
  .chat-box {
    height: 80% !important;
    border: 2px solid black;
  }
  #chat-input {
    width: 80%;
    border: none;
    border: 2px solid black;
    outline: none;
    padding: 1.5vmax;
    font-size: 3vmax !important;
  }
  .message-box {
    width: 70% !important;
    padding: 1vmax;
    margin: 1.8vmax;
    background-color: gainsboro;
    display: inline-block;
    
  }
}
